#ignore all files created by VSCode
**/.vscode/* 

#ignore pycahce
**/__pycache__ 

#used for setting up gunicorn
api/wsgi.py

#do not want to push articles list
api/articles.txt

#ignore files created when packing chrome extension
chromeextension.crx
chromeextension.pem